@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap" rel="stylesheet"');
* {
  font-family: "Clash Display", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: #101415;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: medium;
  list-style-type: none;
  text-decoration: none;
}

.navigation .anchors:hover {
  color: #ffd25e;
  transition: 1s;
}

.anchors {
  color: white;
  text-decoration: none;
  position: relative;
}

.anchors::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0.5px;
  background-color: white;
  text-decoration: none;
}

.subtitle {
  font-size: xx-large;
  text-align: center;
  color: white;
}

.characters-maps {
  font-size: x-large;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.text {
  font-size: medium;
  color: white;
  text-align: center;
}

.images {
  text-align: center;
}

#inicio {
  background-image: url(../imagenes/fondohd.jpg);
  width: 1855px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.logo {
  margin-left: 100px;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  margin-bottom: 50px;
}

.welcome-text h1 {
  color: #ffd25e;
  font-size: larger;
}

.welcome-text h2 {
  margin-top: 20px;
}

.container {
  background-color: #101415;
  width: auto;
  height: 550px;
  display: flex;
}

.quienes-somos {
  position: static;
  color: white;
  height: 200px;
  width: 500px;
  font-size: x-large;
  left: 80%;
  top: 25%;
  margin-left: 200px;
  margin-top: 150px;
  text-align: left;
}

.quienes-somos h2 {
  margin-bottom: 40px;
}

.quienes-somos-image {
  position: static;
  color: white;
  font-size: x-large;
  right: 0%;
  height: 200px;
}

#image-comunidad {
  margin-left: 150px;
  margin-top: 70px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #101415;
}

.card {
  width: 400px;
  margin-top: 150px;
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.card img {
  width: 400px;
  height: 330px;
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-content h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 8px;
  color: white;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
}

.card-content .btn {
  display: inline-flex;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}

.chapters-div {
  margin: 0;
  margin-top: 50px;
  padding: 20px;
  float: right;
  width: 300px;
  height: 200px;
}

.chapters-container {
  background-color: #101415;
  width: auto;
  height: 400px;
}

#image-mejorinicio {
  margin-left: 180px;
  margin-top: 100px;
}

#image-escudo {
  margin-left: 180px;
  margin-top: 100px;
  height: 50px;
}

.text-hechizos {
  position: static;
  color: white;
  height: 200px;
  width: 500px;
  font-size: x-large;
  left: 80%;
  top: 25%;
  margin-left: 150px;
  margin-top: 100px;
  text-align: left;
}

.text-hechizos h2 {
  margin-bottom: 50px;
}

.chapters-div a {
  text-decoration: none;
  color: white;

}

.chapters-div ul li a:hover {
  color: #ffd25e;
  transition: 0.3s;
}

#elemento1 h2 {
  color: #b75d69;
}

#elemento2 {
  color: #6ab0de;
}

#image-mejoriniciokh2 {
  width: 500px;
  margin-left: 175px;
  margin-top: 140px;
}

.footer {
  width: 100%;
  background-color: #101415;
}

.footer .first-section-footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px, 0px;
  margin-bottom: 50px;
  margin-top: 150px;
}

.footer .first-section-footer .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .first-section-footer .box figure img {
  width: 250;
}

.footer .first-section-footer .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .first-section-footer .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.footer .first-section-footer .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #212529;
  text-align: center;
  transition: all 300ms ease;
}

.footer .first-section-footer .red-social a:hover {
  color: aqua;
}

.footer .second-section-footer {
  background-color: #212529;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .second-section-footer small {
  font-size: 15px;
}
